
    <main class="e-layout__content e-layout__content-form">
        <!-- using a utility to add padding to content -->
        <section class="e-layout__section e-padding-s">
            <!-- Form -->
            <div class="e-field">
                <label class="e-field__label">
                    Spring Boot Service
                </label>
                <e-multiselect id='service1Select' placeholder="Please select one or more options">
                    <e-select-option value="EchoService">
                        Echo Service
                    </e-select-option>
                </e-multiselect>
            </div>
            <div class="e-field">
                <label class="e-field__label">
                    Echo Service
                </label>
                <e-multiselect id='service2Select' placeholder="Please select one or more options">
                    <e-select-option value="SpringBootService">
                        Spring Boot Service
                    </e-select-option>
                </e-multiselect>
            </div>
        </section>
    </main>