
    <main class="e-layout__content e-layout__content-form">
        <!-- using a utility to add padding to content -->
        <section class="e-layout__section e-padding-s">
            <!-- Form -->
            <div class="e-field">
                <label class="e-field__label">
                    Service 1
                </label>
                <e-multiselect id='service1Select' placeholder="Please select one or more options">
                    <e-select-option value="Service 2">
                        Service 2
                    </e-select-option>
                    <e-select-option value="Service 3">
                        Service 3
                    </e-select-option>
                </e-multiselect>
            </div>
            <div class="e-field">
                <label class="e-field__label">
                    Service 2
                </label>
                <e-multiselect id='service2Select' placeholder="Please select one or more options">
                    <e-select-option value="Service 1">
                        Service 1
                    </e-select-option>
                    <e-select-option value="Service 3">
                        Service 3
                    </e-select-option>
                </e-multiselect>
            </div>
            <div class="e-field">
                <label class="e-field__label">
                    Service 3
                </label>
                <e-multiselect id='service3Select' placeholder="Please select one or more options">
                    <e-select-option value="Service 1">
                        Service 1
                    </e-select-option>
                    <e-select-option value="Service 2">
                        Service 2
                    </e-select-option>
                </e-multiselect>
            </div>
        </section>
    </main>